<a href="https://colab.research.google.com/github/mariadeodato/ATIVIDADE-01/blob/main/Atividade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Imprima na tela apenas os números ímpares entre 1 e 50

In [2]:

for num in range (1,51,2):
  #início em 1,pulando de 2 em 2
  print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

Faça um programa que exiba em tela os números abaixo
1 4 7 10 13 16 19 22 25 28 31 34 37 40

In [5]:
for num in range(1,41,3):
    print(num)

1
4
7
10
13
16
19
22
25
28
31
34
37
40

 Exiba os números pares de 0 a 30 com exceção 10,20 e 30

In [10]:
for num in range (0,30,2):
  if num != 10 and num != 20:
    print(num)

0
2
4
6
8
12
14
16
18
22
24
26
28